@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 20px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.Contacttitle {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 0px;

}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

}
  
  .iconLink img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .iconLink img:hover {
    transform: scale(1.2);
    opacity: 0.8;
  }

.footerInfo{
    background-color: #ee6c4d; 
    padding: 10px;
    text-align: center;

}
.footerInfo p{
    color: white;
}
  

@media screen and (max-width: 830px) {
    .container {
      flex-direction: column;
      gap: 23px;
    }
  
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .socialLinks {
      align-items: center;
    }
  }
